body {
  background-image: url(/естетик-другой.jpg);
  background-size: cover;
}

@font-face {
  font-family: 'fenotype';
  src: url(https://dl.dropbox.com/s/klo6yfrf62916qp/02.10FEN.TTF);
}

@font-face {
  font-family: windows;
  src: url(https://dl.dropbox.com/s/cn0l1yjacta4whv/W95FA.otf);
}

h1 {
  font-family: 'fenotype', arial;
  color: #FF008B;
  margin-left: 30px;
}

h2,
h3,
h4 {
  font-family: windows, arial;
  color: white;
}

p {
  font-family: windows, arial;
  color: #FF008B;
  font-size: 17px;
}

a {
  font-family: windows;
  color: white;
}

.mainbody {
  position: absolute;
  left: 350px;
  top: 20px;
  width: 800px;
  height: 600px;
  background-color: black;
  border: 5px solid;
  border-color: #FF008B;
  margin-top: 40px;

}

.header {
  position: absolute;
  top: 3px;
  right: 170px;
}

.main {
  position: absolute;
  top: 60px;
  right: 120px;
  width: 550px;
  height: 400px;
  overflow: auto;
}