* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.eva-heading {
  padding: 32px;
  margin: 0 auto;
  align-self: baseline;
  font-family: serif;
  color: white;
  text-shadow: 0 0 2px #e19a86, 0 0 1.5px #854535, 0 0 1.5px #5c150c;
}

.eva-heading>h1 {
  font-size: 500%;
}

.eva-heading>h2 {
  font-size: 300%;
}

.eva-heading__title {
  transform: scale(1, 1.5);
  line-height: 1.2em;
  letter-spacing: -.03em;
}

.eva-heading__episode-number {
  font-family: sans-serif;
  font-size: 180%;
  transform: scale(1, 1.5);
  letter-spacing: -.06em;
  margin: 10px 0 26px 0;
}

.eva-heading__episode-title {
  transform: scale(1, 1.3);
  font-size: 170%;
  line-height: 1em;
}

.eva-heading__gif {
  text-shadow: 0 0 2px #e19a86, 0 0 1.5px #854535, 0 0 1.5px #5c150c;
  color: white;
   font-family: sans-serif;
  margin-left: 200px;
  margin-bottom: 20px;
}



.eva-heading__btn:hover{
  background-color: whitesmoke;
  width: 200px;
  height: 150px;
  background-image: url(/IMG_GHOST_BOOTUP.gif);
}

.eva-heading__btn {
  display: block;              
  width: 200px;                
  height: 60px;
  background-color: orangered;   
  border-radius: 8px;       
  margin-left: 216px;
}

